<div class="container mt-4" >
  <div class="card">
          <h1>Student Registation</h1>

  <form>
      <div class="form-group">
        <label>Student Name</label>
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <label>Birth Day</label>
        <input type="text" [(ngModel)]="bday" [ngModelOptions]="{standalone: true}" class="form-control" id="bday" placeholder="Enter Birtday">
      </div>

      <div class="form-group">
          <label>Address</label>
          <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" class="form-control" id="address" placeholder="Enter Address">
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" class="form-control" id="phone" placeholder="Enter Phone Number">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter Email">
        </div>



      <button type="submit" class="btn btn-primary mt-4" (click)="save()" >Save</button>

    </form>
  </div>



      <div class="container mt-4" >
          <h1>Student Table</h1>
      <table class="table">
          <thead>
           <h1 *ngIf="!isResultLoaded">Loading.................</h1>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Student Name</th>
              <th scope="col">Birth Day</th>
              <th scope="col">Address</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let StudentItem of StudentArray">
              <td>{{StudentItem.id  }}</td>
              <td>{{StudentItem.name }}</td>
              <td>{{StudentItem.bday }}</td>
              <td>{{StudentItem.address }}</td>
              <td>{{StudentItem.phone }}</td>
              <td>{{StudentItem.email }}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="setUpdate(StudentItem)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="setDelete(StudentItem)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
